@import "../../styles/variables.scss";

.container {
  flex-direction: column;
  max-width: $max-content-width;
  margin: 0 auto;

  .blogSectionText {
    flex-direction: column;
    width: 100%;
    padding: 0 10%;
  }

  .sliderTitleContainer {
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 10%;

    p {
      margin: 0;
    }

    h2 {
      font-size: 3rem;

      // the p-tag above is a bit like being more outward
      margin-left: -3px;
    }
  }

  .carouselContainer {
    width: 80vw;
    flex-direction: row;

    margin: 40px auto 80px auto;
    display: block;
    position: relative;

    .leftArrow,
    .rightArrow {
      position: absolute;
      top: 50%;
      margin: 0;
      padding: 0;
      height: max-content;
      width: auto;

      &:hover {
        cursor: pointer;
      }
    }

    .leftArrow {
      left: 0;
      transform: translate(-50%);
    }

    .rightArrow {
      right: 0;
      transform: translate(100%);
    }

    // React slick magic to provide same height for cards
    > div {
      display: block;
      height: 100%;
      > div {
        height: 100%;
        > div {
          height: 100%;
          > div {
            height: 100%;
            > div {
              height: 100%;
            }
          }
        }
      }
    }
  }
}
